<form class="row input-group-sm" method="post" action="/dashboard">
    <div class="col-lg-10 col-md-8">
        <table id="bazaar_table" class="table table-bordered table-striped table table-sm">
            <thead>
            <tr>
                <th rowspan="2">Name</th>
                <th colspan="3">Bazaar</th>
                <th colspan="3">Fleet</th>
            </tr>
            <tr>
                {% for _ in range(2) %}
                    {% for toon in 'Omich', 'weirded', 'Acid-Queen' %}
                        <th>{{ toon }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for good in load['per_goods'] %}
                <tr>
                <th>{{ good }}</th>
                {% for toon in 'Omich', 'weirded', 'Acid-Queen' %}
                    <td>
                        <input style="text-align: right;"
                               type="number"
                               class="toon_good_amount small form-control form-control-sm"
                               name="bazaar_{{ toon }}_{{ good }}"
                               value="{{ bazaar.get(toon, {}).get(good, 0) }}">
                    </td>
                {% endfor %}
                {% for toon in 'Omich', 'weirded', 'Acid-Queen' %}
                    <td>
                        <input style="text-align: right;"
                               type="number"
                               class="toon_good_amount small form-control form-control-sm"
                               name="fleet_{{ toon }}_{{ good }}"
                               value="{{ fleet.get(toon, {}).get(good, 0) }}">
                    </td>
                {% endfor %}
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <div align="right" class="col-lg-2 col-md-3">
        <button type="submit" class="btn btn-primary" name="recalculate">Пересчитать</button>
        <button type="submit" class="btn btn-secondary" name="rewrite">Записать</button>
    </div>
</form>

